extends layout

block column_1
  h1
    span.site-name=title
    time.current-time=time
  article.triggers
    hgroup.triggers-counters
      h2.disaster
        strong.counter=counts.triggers.disaster
        span disaster
      h2.high
        strong.counter=counts.triggers.high
        span high
      h2.average
        strong.counter=counts.triggers.average
        span average
    ul.triggers-data
      li.disaster
        span.device Cisco2960in221_2
        time 19m 10s
        p [Port FastEthernet0/16 OperStatus] 10016 status has changed
      li.high
        span.device eregion
        time 27m 24s
        p Low free disk space on eregion.avalon.ru volume c:
      li.high
        span.device Office202_2
        time 9d 1h 17m
        p Toner black low on printer Office202_2
      li.average
        span.device Cisco2960in221_2
        time 19m 10s
        p [Port FastEthernet0/16 OperStatus] 10016 status has changed

block column_2
  article.new-tasks
    hgroup.tasks-counter
      h2.expired
        strong.counter=counts.tasks.expired
        span просрочено
      h2.new
        strong.counter=counts.tasks.new
        span новых
      h2.total
        strong.counter=counts.tasks.total
        span всего
    ul.new-tasks-data
      li
        span.id 6416
        p Подготовка ком. 327 к переезду секретарей КИТвП
        p.additional
            span.place 327
            time Oct 05 2012 22:00:00
      li
        span.id 6415
        p Не удается просмотреть извне расписание на portal.avalon.ru
        p.additional
            span.device portal.avalon.ru
            time Oct 05 2012 22:00:00
      li
        span.id 6414
        p Диски для Энергетического менеджмента
        p.additional
            span.place аудитория 204
            time Oct 05 2012 22:00:00
    ul.expired-tasks-data
      li
        span.id 6416
        p Подготовка ком. 327 к переезду секретарей КИТвП
        p.additional
            span.place 327
            time Oct 05 2012 22:00:00
      li
        span.id 6415
        p Не удается просмотреть извне расписание на portal.avalon.ru
        p.additional
            span.device portal.avalon.ru
            time Oct 05 2012 22:00:00
